<div class="main-content">
  <button class="btn btn-pulse">Réservez</button>
</div>
<div class="services">
  <h2>Nos services</h2>
  <div class="container-service">
    <div class="card-service">
      <img />
      <h3>Knotless Braids</h3>
      <span
        >Il s’agit d’une coiffure constituée de nattes libres individuelles sur
        l’ensemble de la chevelure, généralement divisée en petites sections
        souvent carrées ou rectangulaires, et parfois triangulaires, ou sans
        forme définie.
      </span>
    </div>
    <div class="card-service">
      <img />
      <h3>Tissage</h3>
      <span
        >Il s’agit d’une coiffure constituée de nattes libres individuelles sur
        l’ensemble de la chevelure, généralement divisée en petites sections
        souvent carrées ou rectangulaires, et parfois triangulaires, ou sans
        forme définie.
      </span>
    </div>
    <div class="card-service">
      <img />
      <h3>Locks</h3>
      <span
        >Il s’agit d’une coiffure constituée de nattes libres individuelles sur
        l’ensemble de la chevelure, généralement divisée en petites sections
        souvent carrées ou rectangulaires, et parfois triangulaires, ou sans
        forme définie.
      </span>
    </div>
  </div>
</div>
