@use "../../../styles/custom-theme.scss" as *;

.main-content {
  min-height: calc(
    100vh - 64px
  ); // Hauteur totale moins la hauteur de la toolbar
  box-sizing: border-box;
  background-color: map-get($background-palette, 300);
  color: map-get($background-palette, 500);
  background-image: url("./../../../assets/coiffure.jpg");
  height: 40em;
  background-size: cover;
  width: auto;
  background-position: 50% 50%;
  position: relative;
}

.main-content h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn {
  position: absolute;
  bottom: 20vh;
  padding: 10px 20px;

  left: calc(50% - 74px);
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
/* 1. Pulse Animation */
.btn-pulse {
  background-color: map-get($contrast, 500);
  color: map-get($primary-palette, 500);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container-service {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .card-service {
    background-color: map-get($contrast, 500);
    width: 25vw;
    margin-bottom: 30px;
    padding: 1rem;
    border-radius: 5%;

    .img-container {
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin: auto;
        display: block;
      }
    }
  }
}

// Media query pour les petits écrans
@media screen and (max-width: 768px) {
  .container-service {
    flex-direction: column;
    align-items: center;

    .card-service {
      width: 80vw;
      margin: 20px 0;

      .img-container {
        img {
          width: 100%;
          height: auto;
          max-height: 300px;
        }
      }
    }
  }
}
