@use "../../../styles/custom-theme.scss" as *;

.footer {
  background-color: map-get($primary-palette, 500);
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

// Section gauche
.footer-left {
  flex: 1;
  padding: 40px;

  h2 {
    color: white;
    margin-bottom: 20px;
  }
}

.footer-section {
  margin-bottom: 30px;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin-bottom: 10px;
      color: white;
    }
  }
}

.footer-section.social {
  ul {
    flex-direction: row;
  }

}

// Réseaux sociaux
.social-links {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;

  i {
    font-size: 20px;
    color: #000000;
  }

  &:hover {
    transform: scale(1.1);
  }
}

// Section droite - Formulaire
.footer-right {
  flex: 1;
  padding: 40px;

  h2 {
    color: white;
    margin-bottom: 30px;
    text-align: center;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  input,
  textarea {
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: white;
    font-size: 1em;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  .submit-btn {
    background-color: white;
    color: black;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    align-self: center;

    &:hover {
      background-color: black;
      color: #f4b63c;
    }
  }
}

.copyright {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9em;
  opacity: 0.8;
}

// Media query pour les petits écrans
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    padding: 20px;
  }

  .contact-form {
    input,
    textarea {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .social-links {
    justify-content: center;
  }
}
