<div class="booking-container">
  <h2>Réserver</h2>
  <form (ngSubmit)="onSubmit()" class="booking-form" [formGroup]="profileForm">
    <div class="form-row">
      <div class="form-group">
        <label for="prenom">Prénom <span class="required">*</span></label>
        <input
          type="text"
          id="prenom"
          name="prenom"
          formControlName="firstName"
          required
        />
      </div>

      <div class="form-group">
        <label for="nom">Nom <span class="required">*</span></label>
        <input
          type="text"
          id="nom"
          name="nom"
          formControlName="lastName"
          required
        />
      </div>
    </div>

    <div class="form-group">
      <label for="email">Adresse e-mail <span class="required">*</span></label>
      <input
        type="email"
        id="email"
        formControlName="email"
        name="email"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        required
      />
      <small class="helper-text"
        >L'e-mail de confirmation sera envoyé à cette adresse</small
      >
      <div
        class="md-errors-spacer"
        [hidden]="
          profileForm.controls.email.valid ||
          profileForm.controls.email.untouched
        "
      >
        <div
          *ngIf="
            profileForm.controls.email.errors &&
            profileForm.controls.email.errors['required']
          "
        >
          Ce champs est obligatoire.
        </div>
        <div
          *ngIf="
            profileForm.controls.email.errors &&
            profileForm.controls.email.errors['pattern']
          "
        >
          Email est invalid.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="pays">Pays/région <span class="required">*</span></label>
      <select id="pays" formControlName="country" name="pays" required>
        <option value="France">France</option>
      </select>
    </div>

    <div class="form-group phone-group">
      <label for="telephone"
        >Numéro de téléphone <span class="required">*</span></label
      >
      <div class="phone-input-container">
        <select
          id="prefixe"
          formControlName="preFixTel"
          name="prefixeTel"
          class="prefix-select"
        >
          <option value="FR +33">FR +33</option>
        </select>
        <input
          type="tel"
          id="telephone"
          pattern="^(33|0)(6|7|9)\d{8}$"
          formControlName="phone"
          name="telephone"
          required
        />
      </div>
      <small class="helper-text"
        >Pour vérifier votre réservation et pour que l'établissement vous
        contacte, si nécessaire</small
      >
    </div>
    <button type="submit">Réserver</button>
  </form>
</div>
