@use "../../../styles/custom-theme.scss" as *;

.spacer {
  flex: 1 1 auto;
}
.sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav {
  width: 250px;
  background-color: map-get($background-palette, 100);
  border-right: none;
}

.mat-nav-list {
  padding-top: 16px;
}

.mat-list-item {
  color: rgba(0, 0, 0, 0.87);
  margin: 8px 0;
  border-radius: 4px;
  width: 90%;
  margin-left: 5%;

  &:hover {
    background-color: map-get($background-palette, 200);
  }

  &.active {
    background-color: map-get($primary-palette, 100);
    color: map-get($primary-palette, 500);
  }
}

.mat-icon {
  margin-right: 16px;
  color: white;
}

.mat-sidenav-content {
  background-color: map-get($background-palette, 100);
}
.toolbar-title {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}
